.setup-page {
  display: flex;
  width: 100%;
}

.setup-page input, .setup-page button {
  width: 100%;
}

.setup-page input {
  margin-top: 0px; 
}

.setup-page label {
  margin-top: 25px;
}

.collumn {
  flex-grow: 1;
  // width: 50%;
}

.setup-page {
  .player {
    align-self: center;
    margin: 20px 0;
  }

  .player [class*="icon"] {
    margin: 0 auto;
    // width: 140px;
    // height: 140px;
    // width: 1%;
    // height: 1%;
  }

  input {
    width: 130px;
    margin: 10px auto;
    display: block;
    font-size: 16px;
    outline: 0;
    &::placeholder {
      color: #fff;
    }
  }
}

.button-style{
  font-size: 26px;  
}


.icon-align-center {
  text-align: center;
  vertical-align: text-bottom;
  margin: auto;
}

.icon-align-left {
  text-align: left;
  vertical-align: text-bottom;
  margin: auto;
}

.icon-align-right {
  text-align: right;
  vertical-align: text-bottom;
  margin: auto;
}

input {
  text-align: center;
}

.font-center {
  text-align: center;
}

.Header__logo {
  // display: flex;
  align-items: center;
  padding-top: 10px;
}

.Header__logoImage {    
  width: 30px;
  margin-right: 20px;
  vertical-align:middle;    
}

.Header__logoA {
  vertical-align: middle;    
  text-decoration: none;
  color: #fff;    
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}